.interim-h1{
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
  color: rgb(125, 125, 125);
  font-size: larger;
}

.interim-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: rgb(84, 84, 84);
}

.interim-img-h3-1{
  cursor: pointer;
  color: rgb(88, 68, 68);
}

.interim-img-1div{
  cursor: pointer;
}

.interim-img-1{
  width: 300px;
  height: 300px;
  border: 0px solid rgb(22, 22, 28);
  border-radius: 50px;
  background-color: rgb(64, 109, 109);
  cursor: pointer;
}

.interim-img-1:hover{
  background-color: rgb(71, 120, 120);
}

.interim-img-2{
  width: 300px;
  height: 300px;
  border: 0px solid rgb(22, 22, 28);
  border-radius: 50px;
  background-color: rgb(19, 40, 40);
  cursor: pointer;
}

.interim-img-2:hover{
  background-color: rgb(25, 54, 54);
}

.interim-img-2div{
  cursor: pointer;
}

@media (max-width:725px){
  .interim-img{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
  }
}