.add-job-container-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.add-job-form{
  display: flex;
  flex-direction: column;
  line-height: normal;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: larger;
  color: rgb(93, 91, 90);
}

.add-job-title-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-location-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-category-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-level-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-salary-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-description-input{
  width: 300px;
  height: 300px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-date-input{
  width: 300px;
  height: 30px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(93, 91, 90);
}

.add-job-button-btn-ty{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(235, 241, 242);
  background-color: rgb(56, 236, 209);
  border: 0px solid blue;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}

.add-job-button-btn-ty:hover{
  background-color: rgb(69, 207, 207);
}

.add-job-title-main-h1{
  font-family: "Pacifico", cursive;
  font-size: large;
  color: rgb(60, 90, 85);
}