.hero-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-search-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-search-left-img{
  width: 60px;
  height: 40px;
}

.hero-search-right{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.hero-search-right-img{
  width: 60px;
  height: 40px;
}

.hero-search-left-input{
  width: 300px;
  height: 55px;
  border: 0px solid blue;
  border-radius: 4px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 500;
}

.hero-search-right-input{
  width: 300px;
  height: 55px;
  border: 0px solid blue;
  border-radius: 4px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 500;
}

.search-right-btn{
  width: 120px;
  height: 50px;
  border: 0px solid blue;
  background-color: aliceblue;
  color: rgb(30, 30, 30);
  font-family: "Pacifico", cursive;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 10px;
}

.search-right-btn:hover{
  background-color: rgb(226, 226, 226)
}

@media (max-width: 900px) {
  .hero-section{
    display: none;
  }
}