.Profile-page-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: "Pacifico", cursive;
  color: rgb(107, 107, 106);
  font-size: larger;
  margin-top: 20px;
}

.Profile-page-section-image-img-button-upload{
  width: 100px;
  height: 40px;
  border: 0px solid blue;
  border-radius: 20px;
  background-color: cyan;
  color: antiquewhite;
  font-family: "Pacifico", cursive;
  font-size: larger;
  cursor: pointer;
}

.Profile-page-section-image-img-button-upload:hover{
  background-color: rgb(40, 231, 231);
}

.Profile-page-section-image-img-button-delete{
  width: 100px;
  height: 40px;
  border: 0px solid blue;
  border-radius: 20px;
  background-color: rgb(212, 86, 101);
  color: rgb(248, 244, 244);
  font-family: "Pacifico", cursive;
  font-size: larger;
  cursor: pointer;
}

.Profile-page-section-image-img-button-delete:hover{
  background-color: rgb(210, 75, 91);
}

.Profile-page-section-image-img-button{
  display: flex;
  gap: 20px;
  align-items: center;
}