.jobcard-section-container-side-cornel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  }

.jobcard-section-container-img-side-image{
  width: 100px;
  height: 100px;
}

.jobcard-section-container-img-side-image:hover{
  border: 1px solid rgb(165, 165, 171);
  border-radius: 10px;
}


@media (max-width:500px) {
  .jobcard-section-container-tabel-headers {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;


    width: 100%;

    font-size: 13px;
    /* ✅ compact text */
    text-align: center;
    align-items: center;

    border-radius: 10px;
    background: #ededed;

    overflow-x: auto;
    /* ✅ scroll instead of overflow */
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    gap: 2px;
  }

  .jobcard-section-container-context-1-side-level{
    display: none;
  }

  .jobcard-section-container-context-1-side-salary{
    display: none;
  }

  .jobcard-section-container-context-1-side-title{
    display: none;
  }
}



