.jobapply-section{
  display: flex;
  flex-direction: column;
  font-family: "Pacifico", cursive;
  font-size: larger;
  color: rgb(93, 91, 90);
}

.jobapply-section-cornel-h2{
  display: flex;
  flex-basis: flex-start;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: larger;
  color: rgb(93, 91, 90);
}

.jobapply-section-container-h1{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 38px;
  color: rgb(93, 91, 90);
  margin-bottom: 20px;
  margin-top: 20px;
}

.jobapply-section-cornel-btn-context{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jobapply-section-cornel-btn{
  width: 120px;
  height: 50px;
  border: 0px solid blue;
  border-radius: 20px;
  background-color: rgb(88, 233, 204);
  color: antiquewhite;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500px;
}

.jobapply-section-cornel-btn:hover{
  background-color: rgb(65, 209, 209);
}

@media (max-width:1340px) {
  .jobapply-section{
    display: flex;
    flex-direction: column;
    font-family: "Pacifico", cursive;
    font-size: larger;
    color: rgb(93, 91, 90);
    gap: 20px;
  }

  .jobapply-section-cornel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 50px;
    border: 0px solid blue;
    border-radius: 20px;
    background-color: rgb(88, 233, 204);
    color: antiquewhite;
    font-family: "Pacifico", cursive;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500px;
  }

  .jobapply-company-image-img{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
  }

  .jobapply-company{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
  }
}