.userProf-container-section-context{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  font-size: larger;
  color: rgb(93, 91, 90);
}

.userProf-container-section-image{
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.userProf-container-section-img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProf-container-section-image{
  width: 30px;
  height: 30px;
}

.userProf-container-section-image:hover{
  width: 33px;
  height: 33px;
}

.userProf-container-section-final{
  display: flex;
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  font-size: larger;
  color: rgb(93, 91, 90);
  align-items: center;
  gap: 20px;
}

.userProf-container-section-final-img{
  width: 50px;
  height: 50px;
}

.userProf-container-section-image-img{
  width: 240px;
  height: 200px;
}

.userProf-container-sec-final-btn-cv-h3-btn-cont{
  display: flex;
  align-items: center;
  gap: 20px;
}

.userProf-container-sec-final-btn-cv-h3-btn{
  width: 100px;
  height: 40px;
  border: 0px solid blue;
  border-radius: 20px;
  background-color: rgb(80, 230, 230);
  color: rgb(255, 255, 255);
  font-family: "Pacifico", cursive;
  font-size: 20px;
  cursor: pointer;
}

.userProf-container-sec-final-btn-cv-h3-btn:hover{
  background-color: rgb(74, 218, 218);
}

.userProf-container-sec-final-btn-cv-h3-btn-88{
  width: 100px;
  height: 40px;
  border: 0px solid blue;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: "Pacifico", cursive;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(228, 106, 85);
}

.userProf-container-sec-final-btn-cv-h3-btn-88:hover{
  background-color: rgb(225, 98, 75);
}