.employers-section-context-h1{
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgb(93, 91, 90);
}

.employers-section-context-h1-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recruiter-section-full-div{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.recruiter-section-full-div-h3-name{
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgb(93, 91, 90);
}

.recruiter-section-full-div-h3-email{
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgb(93, 91, 90);
}

.recruiter-section-full-div-image{
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 2px 2px red;
}

@media (max-width:1044px) {
  .recruiter-section-full-div{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
  }

 .recruiter-section-full-div-image{
  width: 100px;
  height: 100px;
 }
}

@media (max-width:584px) {
  .recruiter-section-full-div-h3-email{
    display: none;
  }
}