@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-section{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(30, 30, 30);
  justify-content: center;
}

.navbar-section-cornelpart{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar-left-side{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.navbar-image{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: aliceblue;
}

.navbar-left-side-h1{
  display: flex;
  font-family: "Pacifico", cursive;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navbar-left-side-h1:hover{
  color: rgb(176, 170, 170);
}

.navbar-medium-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-medium-side li{
  font-family: "Pacifico", cursive;
  list-style: none;
  font-weight: 100;
  cursor: pointer;
  font-size: 26px;
  color: rgb(255, 255, 255);
}

.navbar-medium-side li:hover{
  color: rgb(219, 213, 213);
}


.navbar-right-btn-login{
  color: antiquewhite;
  background-color: rgb(30, 30, 30);
  border: 0px;
  font-family: "Pacifico", cursive;
  width: 100px;
  height: 30px;
  font-size: large;
  cursor: pointer;
}

.navbar-right-btn-login:hover{
  color: rgb(219, 213, 213);
}

.navbar-right-btn-register{
  color:antiquewhite;
  background-color: rgb(80, 243, 229);
  width: 100px;
  height: 40px;
  border: 0px solid rgb(192, 192, 210);
  border-radius: 20px;
  font-family: "Pacifico", cursive;
  font-size: large;
  cursor: pointer;
}

.navbar-right-btn-register:hover{
  background-color: rgb(63, 223, 210);
}

.navbar-context-section{
  background-color: rgb(30, 30, 30);
}

.navbar-context{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

@media (max-width: 860px) {
  .navbar-section{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2px;
    flex-direction: column;
  }
  .navbar-right-btn{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

 
  .navbar-right-btn-login{
    color: antiquewhite;
    background-color: rgb(30, 30, 30);
    border: 0px;
    font-family: "Pacifico", cursive;
    font-size: large;
    cursor: pointer;
  }
  .navbar-isClicked-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .navbar-section-cornelpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

}